@import "../../css/variable";

.sign-up-wrapper {
  .form-group-wrapper {
    .form-login {
      .base-checkbox-circle {
        margin-top: 3.6px;
        margin-bottom: 35px;
      }
    }
  }

  .input-form-wrapper {
    .form-input {
      .input-form {
        padding-right: 35px;
      }
    }
  }

  .link-other-page {
    .link-route {
      font-size: 14px;
    }
  }

  .form-group-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
