.info-form-wrapper {

  .info-form-title {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }

  .content {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: var(--black);
    margin-bottom: 20px;
    span {
      line-height: 20px;
      vertical-align: text-bottom;
    }

    .icon {
      font-size: 20px;
      line-height: 1;
      margin-right: 13px;
      color: var(--bluey-grey);
    }
  }
}
