:root {
  --warm-blue: #3d53d6;
  --true-green: #00bc00;
  --very-light-pink: #fbe9e7;
  --blue-green: #13595f;
  --charcoal-grey: #2d2f36;
  --burple: #6737e1;
  --robin-s-egg-blue: #a6e7ed;
  --true-green-two: #009700;
  --wheat: #ffdf75;
  --salmon: #ff8965;
  --sapphire: #2437ac;
  --ice-blue: #e2f3ff;
  --green: #18d540;
  --pastel-pink: #fcbcce;
  --dark-indigo: #121c58;
  --rosa: #fa91ad;
  --bronze: #a88100;
  --azure: #0097ff;
  --pale-sky-blue: #c2eff3;
  --red-pink: #f1295c;
  --bluey-grey: #989ca8;
  --golden: #ecb500;
  --slate-grey: #5c606d;
  --azul: #1b61ec;
  --light-lavender: #d4c5f6;
  --seafoam-blue: #6dd8e2;
  --tiffany-blue: #8adfe7;
  --perrywinkle: #929ee8;
  --light-blue-grey: #cfd1d6;
  --blurple: #5c32da;
  --blue-purple: #4a2ad2;
  --true-green-three: #007700;
  --bright-orange: #ff6d00;
  --pinkish-orange: #ff6f43;
  --light-gold: #ffd753;
  --tealish: #2ac2d0;
  --powder-blue: #badfff;
  --rosy-pink: #f8658d;
  --cobalt: #182574;
  --ocre: #ca9b00;
  --azure-two: #12a7ff;
  --soft-blue: #52b8ff;
  --celadon: #c1f0c1;
  --pale-lavender: #efe7fb;
  --poo-brown: #866700;
  --charcoal-grey-two: #454851;
  --vibrant-green: #00cc00;
  --light-urple: #9a76eb;
  --purpley: #8157e7;
  --rusty-red: #bf350c;
  --pale: #fff3ca;
  --true-green-four: #00a900;
  --watermelon: #f44575;
  --windows-blue: #374dc6;
  --blue-purple-two: #3824cb;
  --light-pink: #fee5eb;
  --reddish-orange: #f4501e;
  --deep-sky-blue: #0a75ff;
  --orangey-red: #e64919;
  --white: #ffffff;
  --cloudy-blue: #bdbfc7;
  --ice: #e5fae6;
  --light-grey-blue: #aaaeb7;
  --soft-blue-two: #7685e2;
  --deep-sky-blue-two: #0088ff;
  --tealish-two: #24a8b4;
  --blue-blue: #273ecd;
  --pink-red: #e0245a;
  --lipstick: #ca1f56;
  --hospital-green: #95e797;
  --lightish-green: #5fde69;
  --jade: #1f8d97;
  --rouge: #b61953;
  --blue-green-two: #19737b;
  --lavender: #b89ff0;
  --light-blue: #8accff;
  --light-periwinkle: #e2e3e6;
  --dark: #16171a;
  --berry: #91114c;
  --sunflower: #ffc70f;
  --cornflower-blue: #5a6cdc;
  --light-peach: #ffccbc;
  --dark-cream: #ffe797;
  --light-salmon: #ffab91;
  --ultramarine: #3600c2;
  --dark-indigo-two: #0c133c;
  --rusty-orange: #d84215;
  --sun-yellow: #ffcf31;
  --black: #000000;
  --cobalt-two: #1e2e90;
  --bright-cyan: #51d0dc;
  --pale-grey: #f4f4f6;
  --dark-grey: #1f2325;
  --ice-blue-two: #ebf0f3;
  --cloudy-blue-two: #bac0c2;
  --bright-yellow: #f4ec00;
  --ice-blue-three: #f1f6f9;
  --cool-blue: #358ed7;
  --dark-grey-blue: #34495e;
  --emerald: #009764;
}

.color-orange {
  color: var(--bright-orange) !important;
}

.color-blue {
  color: var(--azure) !important;
}

.color-white {
  color: var(--white) !important;
}

.color-bluey-grey {
  color: var(--bluey-grey) !important;
}

.color-yellow {
  color: var(--bright-yellow) !important;
}
