@import "../../css/variable";

.forgot-password-wrapper {
  .form-group-wrapper {
    .form-group-title {
      margin-bottom: 7px;
    }
  }

  .input-form-wrapper {
    margin-bottom: 388.4px;
  }

  .form-error-wrapper {
    padding-bottom: 32px;
  }

  .is-sent {
    img {
      margin-top: 78px;
      margin-bottom: 156px;
    }

    .link-other-page {
      padding-bottom: 38px;
    }
  }
}
