@import "../../css/variable";

.delete-card-wrapper {
  cursor: pointer;

  .popover {
    z-index: 1049;
    left: -35px !important;

    //.arrow {
    //  left: 90px !important;
    //}

    .popover-body {
      padding: 10px;

      .list-group-item {
        padding: 0;
        font-size: 10px;

        .icon-trash {
          font-size: 15px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

.payment-wrapper {
  .payment-check-list-wrapper {
    margin-top: 11px;
    margin-bottom: 30px;

    .disabled {
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }

    .payment-item {
      width: 100%;
      padding: 13px 20px;
      text-align: left;
      border-radius: 4.8px;
      background-color: rgba($color-pale-grey, 0.5);
      margin-top: 10px;

      .checkbox-item {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: var(--black);
        margin-bottom: 0;

        img {
          margin-right: 27px;
        }
      }
    }

    .content-item {
      .btn-submit {
        margin-bottom: 0;
      }

      .card-item-wrapper {
        .card-item {
          background-color: white;
          padding: 20px;
          border-radius: 5px;
          border: solid 1px #e9ebf4;

          .checkbox-item {
            position: relative;
            margin-bottom: 0;

            img {
              margin-right: 7px;
            }

            .icon-ellypsis {
              position: absolute;
              color: #cccccc;
              right: 43px;
              font-size: 22px;
            }

            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.2;
            letter-spacing: normal;
            color: var(--black);
          }
        }
      }

      .title {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: var(--black);
      }

      .stripe-form-wrapper {
        margin-top: 15px;
      }

      border-top: 1px solid rgba(0, 0, 0, 0.1);
      background-color: rgba($color-pale-grey, 0.5);
      padding: 20px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: var(--black);

      label {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: var(--black);
      }

      .Checkout {
        margin: 0 auto;
        max-width: 800px;
        box-sizing: border-box;
        padding: 0 5px;
      }

      input,
      .StripeElement {
        display: block;
        margin: 0 0 15px 0;
        padding: 10px 14px;
        font-size: 1em;
        font-family: "Source Code Pro", monospace;
        border: 0;
        outline: 0;
        border-radius: 4px;
        background: white;
        border: solid 1px #e9ebf4;
      }

      input::placeholder {
        color: #aab7c4;
      }

      input:focus,
      .StripeElement--focus {
        -webkit-transition: all 150ms ease;
        transition: all 150ms ease;
      }

      .StripeElement.IdealBankElement,
      .StripeElement.PaymentRequestButton {
        padding: 0;
      }
    }

    /* The checkbox-item */
    .checkbox-item {
      display: block;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .checkbox-item input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      right: 0;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border-radius: 50%;
      border: solid 3px rgba(0, 0, 0, 0.1);
    }

    /* On mouse-over, add a grey background color */
    .checkbox-item:hover input ~ .checkmark {
    }

    /* When the radio button is checked, add a blue background */
    .checkbox-item input:checked ~ .checkmark {
      background-color: #d2e4f8;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: block;
    }

    /* Show the indicator (dot/circle) when checked */
    .checkbox-item input:checked ~ .checkmark:after {
      background-color: var(--azure);
      opacity: 1;
    }

    /* Style the indicator (dot/circle) */
    .checkbox-item .checkmark:after {
      top: 2px;
      left: 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
    }
  }
}
