/*
*
* PromotionList styles
*
*/
.promotion-list-wrapper {
  padding-top: 38px;
  position: relative;

  .line-break {
    padding-top: 30px;
    opacity: 0.5;
    border-bottom: 1px solid var(--cloudy-blue);;
  }

  .top-promotions {
    .item-top {
      position: relative;

      .large {
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: var(--white);
      }

      .small {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        color: var(--white);
        height: 56px;
      }

      img {
        width: 100%;
        height: 314px;
        border-radius: 8px;
        object-fit: cover;
      }

      .text {
        color: var(--white);
        position: absolute;
        left: 60px;
        top: 57px;
        width: 40%;
        word-break: break-all;

        .line-break {
          margin-bottom: 19px;
        }
      }

      .btn-apply {
        min-width: 200px;
      }
    }
  }

  .hot-promotions {
    .item {
      .small {
        max-height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .img-fluid {
        height: 160px;
        max-height: 160px;
        object-fit: cover;
      }
    }
  }

  .promotion-item-wrapper {
    margin-bottom: 40px;

    .image-wrapper {
      height: 165px;
      margin-bottom: 10px;
    }

    .promotion-content {
      height: 48px;
      overflow: hidden;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }
}
