/*
*
* PaymentJobDetailBox styles
*
*/
@import "../../css/variable";

.payment-job-detail-box {
  .bg-grey {
    padding: 30px;
    min-height: 450px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: var(--black);
    margin-bottom: 17px;
  }

  .total-text {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--black);
  }

  .total-price {
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: right;
    color: var(--bright-orange);
  }

  .payment {
    margin-bottom: 20px;

    .d-table-cell {
      padding-bottom: 30px;
      border-bottom: solid 1px #979797;
    }
  }

  .method {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
  }

  .card-info {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: var(--black);

    .text {
      margin-left: 7px;
    }
  }

  .price-info {
    .total-info {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.8;
      letter-spacing: normal;
      text-align: right;
      color: var(--black);
    }

    .price-info {
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.57;
      letter-spacing: normal;
      text-align: right;
      color: rgba($color-black, 0.5);
    }
  }

  .table-detail-price {
    padding-top: 30px;
    padding-bottom: 24px;
    border-bottom: solid 1px #979797;

    &:last-child {
      border-bottom: none;
    }

    .d-table-cell {
      padding-bottom: 10px;
    }
  }
}
